@charset "utf-8";

html {font-size: 62.5%;} /* font-size:10px */

/* 여백초기화 */
* {margin: 0; padding: 0; box-sizing: border-box;}

/* 테이블선 중첩여부지정, 가로크기 100% */
table {border-collapse: collapse; width: 100%;}

/* 목록요소에 숫자, 불릿기호 없애기 */
ol,ul {list-style: none;}

/* 링크및에 밑줄 없애기, 글자색 기본색 지정 */
a {text-decoration: none; color: #000;}

/* 글자 기울임 설정 */
address {font-style: normal;}

/* form태그 요소 border을 0으로만들기 */
fieldset,input,textarea,select {border: 0; outline: none; vertical-align: middle; /*  appearance: none; */ }  
/* appearance:none; -폼테크 드롭다운 화살표를 없애고 내가원하는 화살표 넣을 수 있다(만들어서 백그라운드로) 바깥쪽 보더도 없앨수 있음/ 
outline:none; 은 검색창 선택했을때 선택영역안보이게 할수있음 */
/* 폼요소들 약간씩 px 틀어짐 - / 잡아주기 위해서  vertical-align: middle;속성추가  */
legend {display: none;}